// Base header
.home-wrap header{
  position: fixed;
  width: 100%;
  height: auto;
  padding: 10px 20px;
  background-color: lightblue;
  a{color: #999;}
  .logo{
    width: 100px;
    filter: drop-shadow(10px 10px 20px #333);
  }
  .mobile-nav-toggle{
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: none;
    cursor: pointer;
    span,
    span:before,
    span:after{
      position: relative;
      content: "";
      display: block;
      height: 2px;
      background: $main-color;
      transition: all 0.3s ease-in-out;
    }
    span{
      top: 24px;
    }
    span:before{
      top: 10px;
    }
    span:after{
      bottom: 12px;
    }
    &:hover span{
      background: transparent;
    }
    &:hover span:before,
    &:hover span:after{
      top: 0;
      transform-origin: center;
      transform: rotate(45deg);
    }
    &:hover span:after{
      top: -2px;
      transform: rotate(-45deg);
    }
  }
}
// Mobile nav

// Header nav
.home-wrap header .site-nav {
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 75px;
    right: 20;

    ul{
      list-style: none;
      text-align: center;
    }
    li{
      margin-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
      display: inline;
    }
  }

@media (max-width:640px){
  .home-wrap header{
    height: 70px;
    background-color: lightblue;

    .logo{
      width: 50px;
    }
    .site-nav{
      display: none;
    }
    .mobile-nav-toggle{
      transition: all 0.3s ease-in-out;
      display: block;
    }
  }
}
